services/logic-apps/workflows/gdpr-data-export/workflow.json
{
  "_comment": "Priva is the primary DSR access/portability orchestrator. This Logic App is a secondary technical export processor when priva-request-id is present; without that header it preserves the legacy transition flow. Downstream subject draft/session collection is represented as PostgreSQL + Redis placeholders.",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2019-05-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "aiActRegistryId": {
        "type": "String"
      },
      "purviewLineageTopicEndpoint": {
        "type": "String"
      },
      "country": {
        "type": "String"
      },
      "auditEndpoint": {
        "type": "String"
      },
      "d365DataExportEndpoint": {
        "type": "String"
      },
      "fabricExportEndpoint": {
        "type": "String"
      },
      "storageSasIssuerEndpoint": {
        "type": "String"
      },
      "postgresDraftExportEndpoint": {
        "type": "String"
      },
      "redisSessionExportEndpoint": {
        "type": "String"
      }
    },
    "triggers": {
      "When_request_received": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "method": "POST",
          "schema": {
            "type": "object"
          }
        }
      }
    },
    "actions": {
      "Check-Priva-Owns-Request": {
        "_comment": "Initial delegation check. When priva-request-id is present, Priva owns DPA reporting, SLA evidence and citizen communications; this workflow performs only technical access/portability export sub-processing.",
        "type": "Compose",
        "inputs": {
          "isPrivaDelegated": "@not(empty(triggerOutputs()?['headers']?['priva-request-id']))",
          "privaRequestId": "@triggerOutputs()?['headers']?['priva-request-id']",
          "processingRole": "@if(empty(triggerOutputs()?['headers']?['priva-request-id']), 'legacy-primary-transition', 'priva-technical-sub-processor')"
        },
        "runAfter": {}
      },
      "Ensure_traceparent": {
        "type": "Compose",
        "inputs": "@coalesce(triggerOutputs()?['headers']?['traceparent'], guid())",
        "runAfter": {
          "Check-Priva-Owns-Request": [
            "Succeeded"
          ]
        }
      },
      "AppInsights_dimension": {
        "type": "Compose",
        "inputs": {
          "customDimensions": {
            "workflow": "gdpr-data-export",
            "traceparent": "@outputs('Ensure_traceparent')",
            "aiActRegistryId": "@parameters('aiActRegistryId')"
          }
        },
        "runAfter": {
          "Ensure_traceparent": [
            "Succeeded"
          ]
        }
      },
      "Create_audit_record": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@parameters('auditEndpoint')",
          "headers": {
            "traceparent": "@outputs('Ensure_traceparent')",
            "x-ai-act-registry-id": "@parameters('aiActRegistryId')",
            "x-priva-request-id": "@outputs('Check-Priva-Owns-Request')?['privaRequestId']",
            "x-dsr-processing-role": "@outputs('Check-Priva-Owns-Request')?['processingRole']"
          },
          "body": "@triggerBody()"
        },
        "runAfter": {
          "AppInsights_dimension": [
            "Succeeded"
          ]
        }
      },
      "Collect_Dataverse_records": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@parameters('d365DataExportEndpoint')",
          "headers": {
            "traceparent": "@outputs('Ensure_traceparent')",
            "x-ai-act-registry-id": "@parameters('aiActRegistryId')",
            "x-priva-request-id": "@outputs('Check-Priva-Owns-Request')?['privaRequestId']",
            "x-dsr-processing-role": "@outputs('Check-Priva-Owns-Request')?['processingRole']"
          },
          "body": "@triggerBody()"
        },
        "runAfter": {
          "Create_audit_record": [
            "Succeeded"
          ]
        }
      },
      "export-from-postgres-drafts": {
        "_comment": "Placeholder export for subject draft/session data collection. Exports PostgreSQL draft/application records for Priva access and portability packages.",
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@parameters('postgresDraftExportEndpoint')",
          "headers": {
            "traceparent": "@outputs('Ensure_traceparent')",
            "x-ai-act-registry-id": "@parameters('aiActRegistryId')",
            "x-priva-request-id": "@outputs('Check-Priva-Owns-Request')?['privaRequestId']",
            "x-dsr-processing-role": "@outputs('Check-Priva-Owns-Request')?['processingRole']"
          },
          "body": "@triggerBody()"
        },
        "runAfter": {
          "Collect_Dataverse_records": [
            "Succeeded"
          ]
        }
      },
      "export-redis-session": {
        "_comment": "Placeholder export for Redis session metadata where still available inside the retention window.",
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@parameters('redisSessionExportEndpoint')",
          "headers": {
            "traceparent": "@outputs('Ensure_traceparent')",
            "x-ai-act-registry-id": "@parameters('aiActRegistryId')",
            "x-priva-request-id": "@outputs('Check-Priva-Owns-Request')?['privaRequestId']",
            "x-dsr-processing-role": "@outputs('Check-Priva-Owns-Request')?['processingRole']"
          },
          "body": {
            "subjectId": "@triggerBody()?['subjectId']",
            "mode": "session-metadata-export"
          }
        },
        "runAfter": {
          "export-from-postgres-drafts": [
            "Succeeded"
          ]
        }
      },
      "Collect_Fabric_records": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@parameters('fabricExportEndpoint')",
          "headers": {
            "traceparent": "@outputs('Ensure_traceparent')",
            "x-ai-act-registry-id": "@parameters('aiActRegistryId')",
            "x-priva-request-id": "@outputs('Check-Priva-Owns-Request')?['privaRequestId']",
            "x-dsr-processing-role": "@outputs('Check-Priva-Owns-Request')?['processingRole']"
          },
          "body": "@triggerBody()"
        },
        "runAfter": {
          "export-redis-session": [
            "Succeeded"
          ]
        }
      },
      "Package_export_to_storage": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@parameters('storageSasIssuerEndpoint')",
          "headers": {
            "traceparent": "@outputs('Ensure_traceparent')",
            "x-ai-act-registry-id": "@parameters('aiActRegistryId')",
            "x-priva-request-id": "@outputs('Check-Priva-Owns-Request')?['privaRequestId']",
            "x-dsr-processing-role": "@outputs('Check-Priva-Owns-Request')?['processingRole']"
          },
          "body": "@triggerBody()"
        },
        "runAfter": {
          "Collect_Fabric_records": [
            "Succeeded"
          ]
        }
      },
      "Publish_access_request_completed": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@parameters('purviewLineageTopicEndpoint')",
          "headers": {
            "traceparent": "@outputs('Ensure_traceparent')",
            "aeg-event-type": "Notification",
            "x-priva-request-id": "@outputs('Check-Priva-Owns-Request')?['privaRequestId']",
            "x-dsr-processing-role": "@outputs('Check-Priva-Owns-Request')?['processingRole']"
          },
          "body": [
            {
              "eventType": "AccessRequestCompleted",
              "subject": "@{parameters('country')}/@{workflow().run.name}",
              "data": {
                "traceparent": "@outputs('Ensure_traceparent')",
                "piiTouched": true,
                "purviewLineage": true,
                "privaRequestId": "@outputs('Check-Priva-Owns-Request')?['privaRequestId']",
                "processingRole": "@outputs('Check-Priva-Owns-Request')?['processingRole']",
                "sourcesCollected": [
                  "dataverse",
                  "postgres",
                  "redis",
                  "fabric",
                  "storage-package"
                ]
              },
              "dataVersion": "1.0"
            }
          ]
        },
        "runAfter": {
          "Package_export_to_storage": [
            "Succeeded"
          ]
        }
      }
    },
    "outputs": {}
  },
  "kind": "Stateful"
}
