services/logic-apps/workflows/gdpr-data-erase/workflow.json
{
  "_comment": "GDPR right-to-erasure (Art. 17) workflow. Operationally undertakes within 30 days (vs the 1-month legal SLA in Art. 12(3)). Symmetric to gdpr-data-export but performs deletes instead of reads, runs the AI-Act-aware retention check first, then publishes an erasure-completion event for Purview lineage. The flow stops short of physically deleting records that the per-country administrative law mandates be retained (e.g. case files under DK/SE/NO archive law) - those records are tagged 'pending-archive-release' and the citizen is informed.",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2019-05-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "aiActRegistryId": { "type": "String" },
      "purviewLineageTopicEndpoint": { "type": "String" },
      "country": { "type": "String" },
      "auditEndpoint": { "type": "String" },
      "retentionCheckEndpoint": { "type": "String" },
      "d365EraseEndpoint": { "type": "String" },
      "fabricEraseEndpoint": { "type": "String" },
      "blobEraseEndpoint": { "type": "String" },
      "cosmosConversationEraseEndpoint": { "type": "String" },
      "appInsightsTraceEraseEndpoint": { "type": "String" },
      "citizenNotificationEndpoint": { "type": "String" }
    },
    "triggers": {
      "When_request_received": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "method": "POST",
          "schema": {
            "type": "object",
            "properties": {
              "subjectId": { "type": "string", "description": "Pseudonymous subject ID (never the raw national ID)." },
              "requestedBy": { "type": "string", "description": "Citizen self-service portal id, or caseworker id when raised on behalf of citizen." },
              "scope": {
                "type": "array",
                "description": "Optional sub-scope; defaults to all systems.",
                "items": { "type": "string", "enum": ["dataverse", "fabric", "blob", "cosmos", "appinsights"] }
              },
              "evidenceOfIdentity": { "type": "string", "description": "Reference to the identity-assurance event that authorised the request." }
            },
            "required": ["subjectId", "requestedBy", "evidenceOfIdentity"]
          }
        }
      }
    },
    "actions": {
      "Ensure_traceparent": {
        "type": "Compose",
        "inputs": "@coalesce(triggerOutputs()?['headers']?['traceparent'], guid())",
        "runAfter": {}
      },
      "AppInsights_dimension": {
        "type": "Compose",
        "inputs": {
          "customDimensions": {
            "workflow": "gdpr-data-erase",
            "traceparent": "@outputs('Ensure_traceparent')",
            "aiActRegistryId": "@parameters('aiActRegistryId')",
            "country": "@parameters('country')"
          }
        },
        "runAfter": { "Ensure_traceparent": ["Succeeded"] }
      },
      "Create_audit_record": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@parameters('auditEndpoint')",
          "headers": {
            "traceparent": "@outputs('Ensure_traceparent')",
            "x-workflow": "gdpr-data-erase",
            "x-ai-act-registry-id": "@parameters('aiActRegistryId')"
          },
          "body": "@triggerBody()"
        },
        "runAfter": { "AppInsights_dimension": ["Succeeded"] }
      },
      "Check_retention_holds": {
        "_comment": "National administrative law (DK Arkivloven, SE Arkivlagen, NO Arkivlova) can mandate retention of public-service case files for 5-10 years. This call returns the list of records that must be tagged 'pending-archive-release' instead of physically deleted.",
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@parameters('retentionCheckEndpoint')",
          "headers": {
            "traceparent": "@outputs('Ensure_traceparent')",
            "x-country": "@parameters('country')"
          },
          "body": {
            "subjectId": "@triggerBody()?['subjectId']",
            "country": "@parameters('country')"
          }
        },
        "runAfter": { "Create_audit_record": ["Succeeded"] }
      },
      "Erase_Dataverse_records": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@parameters('d365EraseEndpoint')",
          "headers": {
            "traceparent": "@outputs('Ensure_traceparent')",
            "x-ai-act-registry-id": "@parameters('aiActRegistryId')"
          },
          "body": {
            "subjectId": "@triggerBody()?['subjectId']",
            "retentionHolds": "@body('Check_retention_holds')?['holds']",
            "mode": "tombstone-pseudonymise"
          }
        },
        "runAfter": { "Check_retention_holds": ["Succeeded"] }
      },
      "Erase_Fabric_records": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@parameters('fabricEraseEndpoint')",
          "headers": {
            "traceparent": "@outputs('Ensure_traceparent')",
            "x-ai-act-registry-id": "@parameters('aiActRegistryId')"
          },
          "body": {
            "subjectId": "@triggerBody()?['subjectId']",
            "retentionHolds": "@body('Check_retention_holds')?['holds']"
          }
        },
        "runAfter": { "Erase_Dataverse_records": ["Succeeded"] }
      },
      "Erase_Blob_documents": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@parameters('blobEraseEndpoint')",
          "headers": {
            "traceparent": "@outputs('Ensure_traceparent')",
            "x-ai-act-registry-id": "@parameters('aiActRegistryId')"
          },
          "body": {
            "subjectId": "@triggerBody()?['subjectId']",
            "retentionHolds": "@body('Check_retention_holds')?['holds']"
          }
        },
        "runAfter": { "Erase_Fabric_records": ["Succeeded"] }
      },
      "Erase_Cosmos_conversations": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@parameters('cosmosConversationEraseEndpoint')",
          "headers": {
            "traceparent": "@outputs('Ensure_traceparent')",
            "x-ai-act-registry-id": "@parameters('aiActRegistryId')"
          },
          "body": {
            "subjectId": "@triggerBody()?['subjectId']"
          }
        },
        "runAfter": { "Erase_Blob_documents": ["Succeeded"] }
      },
      "Pseudonymise_AppInsights_traces": {
        "_comment": "AI Act Art. 26(6) requires logs >= 6 months. We do not delete AI traces; we pseudonymise the subject id inside them so the citizen is no longer identifiable while the log retention obligation continues to be met.",
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@parameters('appInsightsTraceEraseEndpoint')",
          "headers": {
            "traceparent": "@outputs('Ensure_traceparent')",
            "x-ai-act-registry-id": "@parameters('aiActRegistryId')"
          },
          "body": {
            "subjectId": "@triggerBody()?['subjectId']",
            "mode": "pseudonymise-only"
          }
        },
        "runAfter": { "Erase_Cosmos_conversations": ["Succeeded"] }
      },
      "Notify_citizen": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@parameters('citizenNotificationEndpoint')",
          "headers": {
            "traceparent": "@outputs('Ensure_traceparent')"
          },
          "body": {
            "subjectId": "@triggerBody()?['subjectId']",
            "outcome": "@if(empty(body('Check_retention_holds')?['holds']), 'completed', 'completed-with-archive-holds')",
            "retentionHolds": "@body('Check_retention_holds')?['holds']"
          }
        },
        "runAfter": { "Pseudonymise_AppInsights_traces": ["Succeeded"] }
      },
      "Publish_erasure_completed": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@parameters('purviewLineageTopicEndpoint')",
          "headers": {
            "traceparent": "@outputs('Ensure_traceparent')",
            "aeg-event-type": "Notification"
          },
          "body": [
            {
              "eventType": "ErasureRequestCompleted",
              "subject": "@{parameters('country')}/@{workflow().run.name}",
              "data": {
                "traceparent": "@outputs('Ensure_traceparent')",
                "subjectId": "@triggerBody()?['subjectId']",
                "scopesErased": ["dataverse", "fabric", "blob", "cosmos"],
                "scopesPseudonymised": ["appinsights"],
                "retentionHoldsApplied": "@body('Check_retention_holds')?['holds']",
                "purviewLineage": true
              },
              "dataVersion": "1.0"
            }
          ]
        },
        "runAfter": { "Notify_citizen": ["Succeeded"] }
      }
    },
    "outputs": {}
  },
  "kind": "Stateful"
}
